:root {
		--white: #fff;
		--black: #000;
		--dark: #343536;

		--primary: #3D348B;
		--secondary: #00A5CF;
		--red: #DB5461;

		/* Breakpoints */
		--xxs: 445px;
		--xs: 625px;
		--s: 768px;
		--ms: 840px;
		--m: 960px;
		--ml: 1160px;
		--l: 1290px;
		--xl: 1440px;
		--xxl: 1800px;
}

@custom-media --xxs (min-width: 445px);
@custom-media --xs (min-width: 625px);
@custom-media --s (min-width: 768px);
@custom-media --ms (min-width: 840px);
@custom-media --m (min-width: 960px);
@custom-media --ml (min-width: 1160px);
@custom-media --l (min-width: 1290px);
@custom-media --xl (min-width: 1440px);
@custom-media --xxl (min-width: 800px);
